body{

    background-color: rgb(183, 176, 176);/*coloca uma cor de fundo*/

}

.cabecalho{
    display: flex;/*muda a disposição do elementos para horizontal*/
    align-items: center;
    justify-content: space-between;
}

.cabecalho-imagem{
width: 200px;
height: 200px;
padding: 20px;

}

.cabecalho-menu-listaitem {
    display: inline-block;
    margin: 0 15px;
}

.sobre{
display: flex;
justify-content: center;
align-items: center;

}

.sobre_texto{

    padding: 40px;
}

.elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.elementos__div{
    text-align: center;
}
.elementos__imagem{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.sobre_imagem {
    max-width: 100%; /* Garante que a imagem não ultrapasse seu contêiner */
    height: auto; /* Mantém a proporção original da imagem */
}